body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #ECE9E0;
  color: #333333;
  font-size: 1.2rem;
}


a:link {
  text-decoration: none;
  text-decoration: underline;
  color: #333333;
}

.title {
  font-family: "work-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: left;

}

hr {
  border-bottom: solid #333333 3px;
}

.flex-container {
  display: flex;
  text-align:left;
  font-size: 14px;
  line-height: 3px;
  text-align: center;
  overflow: scroll;
}

     /* Hide scrollbar for Chrome, Safari and Opera */
     .flex-container::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .flex-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }

img {
  max-width: 450px;
  border-top: solid #333333 3px;
  border-bottom: solid #333333 3px;
  border-left: solid #333333 3px;
  filter:brightness(0.8);
}

img:hover {
  filter: saturate(1);
}


button {
  border: solid #333333 3px;
  border-radius: 999px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ECE9E0;
  color: #333333;
  text-transform: uppercase;
  margin-left: 10px;
  transition: ease-in-out 250ms;
}

#living:hover {
  background-color: #B9B5AF;
}

#amps:hover {
  background-color: #746D69;
}
#chas:hover {
  background-color: #BDB0CA;
}
#karis:hover {
  background-color:#A5B9DC;
}
#nops:hover {
  background-color: #536858;
}

#all:hover {
  background-color: gray;
}

h5, p {
  font-size: 13px;
  text-align: right;
  padding-right: 1rem;
  text-transform: uppercase;
}


div {
  display: inline-block;
}

div#jewelry {
  border-bottom: solid #333333 3px;
}



