body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #ECE9E0;
  color: #333333;
  font-size: 1.2rem;
}


a:link {
  text-decoration: none;
  text-decoration: underline;
  color: #333333;
}

.title {
  font-family: "work-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: left;

}

hr {
  border-bottom: solid #333333 3px;
}

.flex-container {
  display: flex;
  text-align:left;
  font-size: 14px;
  line-height: 3px;
  text-transform:uppercase;
  text-align: center;
  overflow: scroll;
}

     /* Hide scrollbar for Chrome, Safari and Opera */
     .flex-container::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .flex-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }

img {
  max-width: 450px;
  filter: blur(1000px);
  border: solid white 3px;

}

img:hover {
  filter: none;
  border: solid #333333 3px;
}

button {
  border: solid #333333 3px;
  border-radius: 999px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #333333;
  color: #ECE9E0;
  text-transform: uppercase;
  margin-left: 10px;
}

title, p, h5 {
  font-size: 14px;
  text-align: left;
}


div {
  display: inline-block;
}

